* {
    margin: 10px;
    padding: 10px;
    box-sizing: border-box;
    border: 10px solid black;
}

:root {
    --light-green: #a1dfa1;
    --gray: #e0e0e0;
    --dark-green: #045816;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

/* header styles */
header {
    padding: 20px 35px;
    background-color: var(--light-green);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 9999;
}

header h1 {
    font-weight: bold;
    font-size: 36px;
    margin: 0;
}

header a {
    text-decoration: none;
    color: black;
}

header nav {
    margin: 7px;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 10px 15px;
    font-size: 1.55vw;
    font-weight: lighter;
}

header nav ul li a:hover {
    background: var(--light-green);
    color: var(--dark-green);
    text-shadow: none;
}

/* hero styles */

.hero {
    background-image: url("../images/rva-bg-large.jpeg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    flex-wrap: flex;
    background-position: 80%;
    border-radius: 15px;
}

.hero h2, div {
    background-color: rgb(145, 238, 145, 0.5);
    border-radius: 15px;
}



/* about me styles */
.profile {
    margin: 20px;
    border: 10px solid var(--light-green);
    background-color: var(--gray);
    flex: 1;
}

.profile div {
}

.flex-row {
    display: flex;
}

.bio {
    display: flex;
    text-align: center;
}

/* my projects styles */
.projects {
    background-color: var(--gray);
}

/* contact styles */
.contact {
    background-color: var(--gray);
}

/* footer */
footer {
    background-color: var(--light-green);
    width: 100%;
    padding: 40px 35px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

footer h2 {
    font-size: 30px;
    margin: 0;
}

/* Media Query */
@media screen and (max-width: 980px) {}

@media screen and (max-width: 768px) {}

@media screen and (max-width: 575px) {}